---
- hosts: all
  tasks:
  - name: Install Python extras
    apt: name={{item}} state=present
    with_items:
      - python-pip
      - python-virtualenv
      - python-dev
      - python3-dev
      - ipython
    become: yes
    become_user: root

  - name: Install postgresql
    apt: name={{item}} state=present
    with_items:
      - postgresql
      - postgresql-contrib
      - libpq-dev
    become: yes
    become_user: root

  - name: Install psycopg2 (for postgresql ansible modules)
    pip:
      name: psycopg2
    become: yes
    become_user: root

  - name: Install libjpeg (for Python's Pillow library, required for Django ImageField)
    apt: name={{item}} state=present
    with_items:
      - libjpeg8-dev
    become: yes
    become_user: root

  - name: Setup development virtualenv
    pip:
      requirements: /vagrant/requirements.txt
      virtualenv: /home/vagrant/env
      virtualenv_python: python3

  - name: Create a new database with name "edictweb"
    postgresql_db:
      name: edictweb
    become: true
    become_user: postgres

  - name: Create django postgres user
    postgresql_user:
      db: edictweb
      name: django
      password: django
      priv: ALL
    become: true
    become_user: postgres

  - name: Add startup command
    lineinfile:
      path: /home/vagrant/.bashrc
      line: 'source /home/vagrant/env/bin/activate && cd /vagrant'
