---
- hosts: all
  vars_files:
    - os_vars/{{ ansible_distribution }}.yml
  tasks:
  - name: (Ubuntu) Install MongoDB
    block:
    - name: Add Mongo PPA key
      apt_key:
        keyserver: keyserver.ubuntu.com
        id: 0C49F3730359A14518585931BC711F9BA15703C6
        state: present
    - name: Add Mongo repo
      apt_repository:
        repo: 'deb http://repo.mongodb.org/apt/ubuntu {{ansible_distribution_release}}/mongodb-org/3.6 multiverse'
        state: present
    - name: Install Mongo
      apt:
        name: mongodb-org
        state: latest
        update_cache: yes
        force: yes
    become: yes
    become_user: root
    when: ansible_distribution == "Ubuntu"

  - name: (CentOS) Install MongoDB
    block:
      - name: Create Mongo repo file
        copy:
          content: |
            [mongodb-org-3.6]
            name=MongoDB Repository
            baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/3.6/x86_64/
            gpgcheck=1
            enabled=1
            gpgkey=https://www.mongodb.org/static/pgp/server-3.6.asc
          dest: /etc/yum.repos.d/mongodb-org-3.6.repo
      - name: Install Mongo
        yum:
          name: mongodb-org
          state: present
      - name: Run Mongo
        service:
          name: mongod
          state: started
          enabled: yes
    become: yes
    become_user: root
    when: ansible_distribution == "CentOS"

  - name: Install the 'Development tools' package group
    yum:
      name: "@Development tools"
      state: present
    become: yes
    become_user: root
    when: ansible_distribution == "CentOS"

  - name: Install Python extras
    package: name={{item}} state=present
    with_items:
      - python-pip
      - python-virtualenv
      - "{{ python2_dev_package }}"
      - "{{ python3_dev_package }}"
      - ipython
    become: yes
    become_user: root

  - name: Install postgresql
    package: name={{item}} state=present
    with_items:
      - postgresql-contrib
      - "{{ psql_dev_package }}"
      - "{{ psql_lib_package }}"
      - "{{ psql_server_package }}"
    become: yes
    become_user: root

  - name: Initiate database
    command: postgresql-setup initdb
             creates=/var/lib/pgsql/data/postgresql.conf
    become: yes
    become_user: root
    when: ansible_distribution == "CentOS"

  - name: Start PostgreSQL and enable at boot
    service: name=postgresql
             enabled=yes
             state=started
    become: yes
    become_user: root
    when: ansible_distribution == "CentOS"

  - name: Install psycopg2 (for postgresql ansible modules)
    pip:
      name: psycopg2
    become: yes
    become_user: root

  - name: Install RabbitMQ (for Celery)
    package: name={{item}} state=present
    with_items:
      - rabbitmq-server
    become: yes
    become_user: root

  - name: Enable the rabbitmq_management plugin
    rabbitmq_plugin:
      names: rabbitmq_management
      state: enabled
    become: yes
    become_user: root

  - name: Restart RabbitMQ to start management plugin
    service:
      name: rabbitmq-server
      state: restarted
    become: yes
    become_user: root

  - name: Install libjpeg (for Python's Pillow library, required for Django ImageField)
    package: name={{item}} state=present
    with_items:
      - "{{ jpeg_lib_package }}"
      - "{{ zlib_dev_package }}"
    become: yes
    become_user: root

  - name: Create a new database with name "edictweb"
    postgresql_db:
      name: edictweb
    become: yes
    become_user: postgres

  - name: Create django postgres user
    postgresql_user:
      db: edictweb
      name: "{{ db_user }}"
      password: "{{ db_password }}"
      priv: ALL
      role_attr_flags: CREATEDB
    become: yes
    become_user: postgres

  - name: Ensure PostgreSQL is listening on all localhost
    lineinfile: dest=/var/lib/pgsql/data/postgresql.conf
      regexp='^#?listen_addresses\s*='
      line="listen_addresses = '127.0.0.1'"
      state=present
    become: yes
    become_user: root
    notify: restart postgresql
    when: ansible_distribution == "CentOS"

  - name: Set PostgreSQL login to md5 based for local connections (IPv4)
    lineinfile: dest=/var/lib/pgsql/data/pg_hba.conf
                regexp='host\s+all\s+all\s+127.0.0.1/32\s+'
                line='host all all 127.0.0.1/32 md5'
                insertbefore=BOF
    become: yes
    become_user: root
    notify: restart postgresql
    when: ansible_distribution == "CentOS"

  handlers:
  - name: restart postgresql
    service: name=postgresql state=restarted
    become: yes
    become_user: root
