{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "searcher/style.css" %}">
{% endblock %}

{% block body %}
	<form action="" method="post">
		<div class="input-group">
			{% csrf_token %}
			{{ form.query }}
			<span class="input-group-btn">
				<input class="btn btn-primary" type="submit" value="Search" />
			</span>
		</div>
	</form>

	<br/>

	{% for entry in paginated_matching_entries %}
		<div class="form-control bg-faded">
			{% if should_highlight %}
				<h5>
				{% for highlight, text in entry.jp_text_highlighted %}{% if highlight %}<b>{% endif %}{{ text }}{% if highlight %}</b>{% endif %}{% endfor %}
				</h5>
				<h6>
				{% for highlight, text in entry.en_text_highlighted %}{% if highlight %}<b>{% endif %}{{ text }}{% if highlight %}</b>{% endif %}{% endfor %}
				</h6>
			{% else %}
				<h5>{{ entry.jp_text }}</h5>
				<h6>{{ entry.en_text }}</h6>
			{% endif %}

			{% if debug %}
				Weight: {{ entry.weight }}
				{% if entry.frequency_rank %}
					<br/>
					Freq: {{ entry.frequency_rank }}
				{% endif %}
			{% endif %}

			<div class="clearfix">
				{% if entry.frequency_rank %}
					<span class ="badge badge-success">common</span>
				{% endif %}

				{% for label in entry.meta_labels %}
					<span class="badge badge-primary">{{ label }}</span>
				{% endfor %}

				<a class="btn float-right share-button" data-toggle="collapse" href="#share-{{ entry.id }}">
					<img src="{% static "images/share.png" %}" alt="Share"/>
				</a>
			</div>

			<div id="share-{{ entry.id }}" class="collapse">
				<div class="input-group">
					<span class="input-group-addon">URL</span>
					<input type="text" class="form-control" value="{{ site_url }}/?seq_no={{ entry.sequence_number }}" readonly>
				</div>
			</div>
		</div>
		<br/>
	{% endfor %}

	<br/>

	<div class="float-left">
		{% if paginated_matching_entries.has_previous %}
			<a class="btn btn-secondary" href='?query={{ request.GET.query }}&page={{ paginated_matching_entries.previous_page_number}}'>Previous</a>
		{% endif %}
	</div>
	<div class="float-right">
		{% if paginated_matching_entries.has_next %}
			<a class="btn btn-secondary" href='?query={{ request.GET.query }}&page={{ paginated_matching_entries.next_page_number}}'>Next</a>
		{% endif %}
	</div>
{% endblock %}
