{% extends 'base.html' %}

{% block body %}
	<h1>Welcome to edictweb</h1>

	<form action="" method="post">
		{% csrf_token %}
	  {{ form }}
		<input type="submit" value="Search" />
	</form>

	{% if showing_matches %}
		 Found {{ total_matches }} matches
	{% endif %}

	{% if entries.has_previous %}
		<a href='?query={{ request.GET.query }}&page={{ entries.previous_page_number}}'>Previous</a>
	{% endif %}

	{% if entries.has_next %}
		<a href='?query={{ request.GET.query }}&page={{ entries.next_page_number}}'>Next</a>
	{% endif %}

	<br/><br/>

	{% for entry in entries %}
		{% if entry.num_matches > 0 %}
			* {% for highlight, text in entry.edict_data_highlighted %}{% if highlight %}<b>{% endif %}{{ text }}{% if highlight %}</b>{% endif %}{% endfor %}
		{% else %}
			* {{ entry.edict_data }}
		{% endif %}
		<br/>
	{% endfor %}
{% endblock %}
